trunk/Schema/nzor_consumer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Adrienne Phillips (Landcare Research) -->
<xs:schema xmlns="http://www.nzor.org.nz/schema/consumer/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nzor.org.nz/schema/consumer/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DataSet">
		<xs:annotation>
			<xs:documentation>NZOR data set for consumers</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Metadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Providers">
								<xs:annotation>
									<xs:documentation>List of providers that have contributed to the records in this data set, including NZOR.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Provider" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="xs:string">
														<xs:annotation>
															<xs:documentation>Name the organisation</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OrganisationURL" type="xs:string"/>
													<xs:element name="Usage" type="usageType" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="id" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DateGenerated" type="xs:dateTime"/>
							<xs:element name="Usage" type="usageType">
								<xs:annotation>
									<xs:documentation>NZOR Useage Statements</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DeprecatedRecords" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeprecatedRecord" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="recordId" use="required"/>
									<xs:attribute name="replacementId"/>
									<xs:attribute name="replacementDate" use="required"/>
									<xs:attribute name="recordType" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Name"/>
												<xs:enumeration value="Publication"/>
												<xs:enumeration value="Concept"/>
												<xs:enumeration value="Provider"/>
												<xs:enumeration value="Biostatus"/>
												<xs:enumeration value="ManagementStatus"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="reason">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="merged"/>
												<xs:enumeration value="withdrawn"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Publications" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Publication" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Citation" type="textType">
											<xs:annotation>
												<xs:documentation>String providing full citation  e.g., Author (Year) Title etc.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Identifiers" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Other identifiers that have been applied to this publication by third parties e.g. doi</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Identifier" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="type">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="doi"/>
																				<xs:enumeration value="lsid"/>
																				<xs:enumeration value="isbn"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Authors" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element name="Simple" type="textType">
														<xs:annotation>
															<xs:documentation>Formatted author string or 1 or more authors.  </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:sequence>
														<xs:element name="Author" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Parsed representation of authors. Would be possible to parse further into surname, given names etc.  Format should be standardised - at least within a single file.  May be useful to add an element to the root indicating the format for agents (e.g.,. "Surname, A. I." etc)???</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="type">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="primary"/>
																					<xs:enumeration value="secondary"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="Dates" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Date" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>string representation of date - not constrained to date type??
The type of date can be modified to indicate this is the actual date of publication, written on the publication etc (may need expanding)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="textType">
																	<xs:attribute name="type">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="of publication"/>
																				<xs:enumeration value="on publication"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Titles">
											<xs:annotation>
												<xs:documentation>Contains any titles for a reference eg., chapter title, book title, series title.  The relative level of each title indicated by @level attribute on the title</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Title" maxOccurs="unbounded">
														<xs:complexType mixed="true">
															<xs:choice minOccurs="0" maxOccurs="unbounded">
																<xs:element name="i"/>
																<xs:element name="b"/>
															</xs:choice>
															<xs:attribute name="level" type="xs:int"/>
															<xs:attribute name="type">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="full"/>
																		<xs:enumeration value="abbreviation"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute ref="status"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Editors" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Editors of reference either as a simple string, or as series of agent names.  (Could be combined with Authors.)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="Simple" type="textType"/>
													<xs:sequence>
														<xs:element name="Editor" type="textType" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="Volume" type="textType" minOccurs="0"/>
										<xs:element name="Issue" type="textType" minOccurs="0"/>
										<xs:element name="Edition" type="textType" minOccurs="0"/>
										<xs:element name="Pages" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Page" maxOccurs="unbounded">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="textType">
																	<xs:attribute name="type">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="start"/>
																				<xs:enumeration value="end"/>
																				<xs:enumeration value="total"/>
																				<xs:enumeration value="other"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Publisher" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="textType"/>
													<xs:element name="City" type="textType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Keywords" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element name="Simple" type="xs:string">
														<xs:annotation>
															<xs:documentation>semi-colon(?) delimited keyword list</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:sequence>
														<xs:element name="Keyword" type="xs:string" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="links" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="link" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="type">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="url"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Provider" type="providerLinkType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="parentPublicationRef" type="xs:string"/>
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Book"/>
												<xs:enumeration value="Series"/>
												<xs:enumeration value="Chapter"/>
												<xs:enumeration value="Journal"/>
												<xs:enumeration value="Article"/>
												<xs:enumeration value="Thesis"/>
												<xs:enumeration value="Magazine"/>
												<xs:enumeration value="Report"/>
												<xs:enumeration value="Abstract"/>
												<xs:enumeration value="Pamphlet"/>
												<xs:enumeration value="Electronic source"/>
												<xs:enumeration value="Serial"/>
												<xs:enumeration value="Generic"/>
												<xs:enumeration value="Unpublished"/>
												<xs:enumeration value="Catalog"/>
												<xs:enumeration value="In press"/>
												<xs:enumeration value="Conference proceedings"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="createdDate" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>Date record created</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="modifiedDate" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>Date record last modified</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute ref="statusSummary"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaxonNames" minOccurs="0">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="TaxonName">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FullName" type="textType">
											<xs:annotation>
												<xs:documentation>The full name including appropriate rank and author abbreviations.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Representations" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NamePart" type="xs:string">
														<xs:annotation>
															<xs:documentation>The full name but excluding the author abbreviations</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="NameHtml" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>&lt;em&gt;Acer&lt;/em&gt; L.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rank" type="textType">
											<xs:annotation>
												<xs:documentation>The taxonomic rank.  Will be restricted to a list of taxonomic ranks.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CanonicalName">
											<xs:annotation>
												<xs:documentation>A simplified version of the CanonicalName in TCS.  The child components do not include any authors, ranks or qualifiers.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Simple" type="textType">
														<xs:annotation>
															<xs:documentation> A label containing the canonical name without authors. This field should contain nothing but the text strings representing the name itself with no indication of rank or any other qualifiers. </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Uninomial" type="textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Family, genus, infrafamilial or suprafamilial name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Genus" type="textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation> The name of the genus. If this name is below the rank of genus then this may also be reference to a TaxonName that contains the name of the genus. </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="InfragenericEpithet" type="textType" minOccurs="0"/>
													<xs:element name="SpecificEpithet" type="textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation> The specific epithet for the name. If this is subspecific taxon then this may be a link to another TaxonName that contains the species. </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="InfraspecificEpithet" type="textType" minOccurs="0"/>
													<xs:element name="CultivarNameGroup" type="textType" minOccurs="0">
														<xs:annotation>
															<xs:documentation> The name of the Cultivar, Cultivar Group, grex, convar or graft chimera. Under the ICNCP. Just include here the string of the name. i.e. omit the single quotes around cultivar names, the word Group that denotes cultivar group and the + sign used in chimeras. These symbols can be added in later on the basis of the rank of the name. The use of Group for example is language dependant. </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Authorship" type="textType">
											<xs:annotation>
												<xs:documentation>Full author string</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BasionymAuthors" type="textType">
											<xs:annotation>
												<xs:documentation>The original name authors.  For a basionym this element will be empty.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CombiningAuthors" type="textType">
											<xs:annotation>
												<xs:documentation>The authors of this combination or name.  This element should normally be fill for a complete record.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PublishedIn">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="textType">
														<xs:attribute name="ref"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Year" type="textType"/>
										<xs:element name="MicroReference" type="textType">
											<xs:annotation>
												<xs:documentation>The pages, table, figures etc where the name was published.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TypeName" type="nameRefType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The type name for name of ranks >= genus</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ProtologueOrthography" type="textType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The original orthography in original publication.  Later orthographic and typographic variatants should be captured in the concepts.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Basionym" type="nameRefType" minOccurs="0"/>
										<xs:element name="LaterHomonymOf" type="nameRefType" minOccurs="0"/>
										<xs:element name="ReplacementFor" minOccurs="0">
											<xs:annotation>
												<xs:documentation>For nom. novs. and comb. novs.  This will point at the names that were blocked from being created, or were illegimate, because of an earlier  name with proirity.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BlockedName" type="nameRefType"/>
													<xs:element name="RecombinedName" type="nameRefType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Required for comb.nov. only</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NomenclaturalStatus" type="textType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Concatenation of nomenclatural status abbreviations.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NomenclaturalCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ICBN"/>
													<xs:enumeration value="ICZN"/>
													<xs:enumeration value="ICNB"/>
													<xs:enumeration value="ICNCP"/>
													<xs:enumeration value="ICTV"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Provider" type="providerLinkType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="createdDate" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>Date record created</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="modifiedDate" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>Date record last modified</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute ref="statusSummary"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="VernacularName">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FullName" type="textType"/>
										<xs:element name="PublishedIn" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="textType">
														<xs:attribute name="ref" type="xs:string"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Language" type="textType"/>
										<xs:element name="Country" type="textType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>the country in which this name is thought to have been derived (vernacular) OR the jurisdication for tradenames.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Provider" type="providerLinkType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="isTradeName" type="xs:boolean"/>
									<xs:attribute ref="statusSummary"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaxonConcepts" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TaxonConcept" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name">
											<xs:annotation>
												<xs:documentation>The name applied to the concept.  This may not be an exact representation of the linked taxonomic name e.g., it may record orthography in the source.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="nameRefType">
														<xs:attribute name="scientific" type="xs:boolean" use="required"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AccordingTo">
											<xs:annotation>
												<xs:documentation>The source of this concept.  This will provide a link to a publication.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="ref" type="xs:string"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rank" type="textType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>May be required when a name is used at a rank that difference to its nomenclatural rank (rare)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice minOccurs="0">
											<xs:element name="Relationships">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="AcceptedConcept" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Status" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="providerId" type="xs:string" use="required"/>
																			<xs:attribute name="inUse" type="xs:boolean" use="required"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="ref" type="xs:string" use="required"/>
																<xs:attribute ref="status"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="ParentConcept" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Status" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="providerId" type="xs:string" use="required"/>
																			<xs:attribute name="inUse" type="xs:boolean" use="required"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="ref" type="xs:string" use="required"/>
																<xs:attribute ref="status"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="StackedHierarchy" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Ancestor" maxOccurs="unbounded">
																		<xs:annotation>
																			<xs:documentation>Full name of the ancestrial concept</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:simpleContent>
																				<xs:extension base="xs:string">
																					<xs:attribute name="conceptRef" type="xs:string" use="required"/>
																					<xs:attribute name="rank" type="xs:string" use="required"/>
																					<xs:attribute name="level" type="xs:int" use="required"/>
																					<xs:attribute ref="status"/>
																				</xs:extension>
																			</xs:simpleContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="RelatedConcept" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>required for anamorph/teleomorph; hybrids</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Status" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="providerId" type="xs:string" use="required"/>
																			<xs:attribute name="inUse" type="xs:boolean" use="required"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="ref" type="xs:string" use="required"/>
																<xs:attribute name="type" use="required">
																	<xs:annotation>
																		<xs:documentation>the concept is the *type* for the related concept</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="is parent of"/>
																			<xs:enumeration value="is vernacular for"/>
																			<xs:enumeration value="is child of"/>
																			<xs:enumeration value="has vernacular of"/>
																			<xs:enumeration value="is anamorph of"/>
																			<xs:enumeration value="is teleomorph of"/>
																			<xs:enumeration value="is hybrid parent for"/>
																			<xs:enumeration value="is hybrid child of"/>
																			<xs:enumeration value="is synonym of"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="rank" type="xs:string" use="required"/>
																<xs:attribute ref="status"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Applications">
												<xs:annotation>
													<xs:documentation>For vernacular useages</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Application" maxOccurs="unbounded">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Gender" type="textType" minOccurs="0"/>
																	<xs:element name="PartOfTaxon" type="textType" minOccurs="0"/>
																	<xs:element name="LifeStage" type="textType" minOccurs="0"/>
																	<xs:element name="Region" minOccurs="0">
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="textType">
																					<xs:attribute name="geographicSchema" type="xs:string" use="required"/>
																				</xs:extension>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Status" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="providerId" type="xs:string" use="required"/>
																			<xs:attribute name="inUse" type="xs:boolean" use="required"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="conceptRef" type="xs:string" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:element name="Providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Provider" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="ref" use="required"/>
															<xs:attribute name="providersId" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required"/>
									<xs:attribute name="createdDate" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>Date record created</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="modifiedDate" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>Date record last modified</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute ref="statusSummary"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaxonProperties" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BiostatusValues" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Biostatus" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Taxon">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="conceptRef" type="xs:string"/>
																	<xs:attribute name="nameRef" type="xs:string"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="AccordingTo">
														<xs:annotation>
															<xs:documentation>The source of this record</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="ref" type="xs:string"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Region">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="textType">
																	<xs:attribute name="geographicSchema" type="xs:string" use="required"/>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Biome" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Freshwater"/>
																	<xs:enumeration value="Brackish"/>
																	<xs:enumeration value="Marine"/>
																	<xs:enumeration value="Terrestrial"/>
																	<xs:enumeration value="Unknown"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="EnvironmentalContext" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Wild"/>
																	<xs:enumeration value="Natural Environment"/>
																	<xs:enumeration value="Rural Environment"/>
																	<xs:enumeration value="Built Environment"/>
																	<xs:enumeration value="Cultivation/Captivity"/>
																	<xs:enumeration value="Containment"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Origin" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Unknown"/>
																	<xs:enumeration value="Indigenous"/>
																	<xs:enumeration value="Non-endemic"/>
																	<xs:enumeration value="Endemic"/>
																	<xs:enumeration value="Exotic"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Occurrence">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Unknown"/>
																	<xs:enumeration value="Absent"/>
																	<xs:enumeration value="Eradicated/Destroyed"/>
																	<xs:enumeration value="Extinct"/>
																	<xs:enumeration value="Recorded in error"/>
																	<xs:enumeration value="Recorded Historically"/>
																	<xs:enumeration value="Fossil Record"/>
																	<xs:enumeration value="Recent Extinction"/>
																	<xs:enumeration value="Border Intercept"/>
																	<xs:enumeration value="Present"/>
																	<xs:enumeration value="Sometimes Present"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Providers">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Provider" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="ref" use="required"/>
																		<xs:attribute name="providersId" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="id" type="xs:string" use="required"/>
												<xs:attribute name="createdDate" type="xs:dateTime">
													<xs:annotation>
														<xs:documentation>Date record created</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="modifiedDate" type="xs:dateTime">
													<xs:annotation>
														<xs:documentation>Date record last modified</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute ref="statusSummary"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ManagementStatusValues" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ManagementStatus" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Modified from DarwinCore and GISIN schema</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Taxon">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="conceptRef"/>
																	<xs:attribute name="nameRef"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="AccordingTo">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="ref"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Region">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="textType">
																	<xs:attribute name="geographicSchema" type="xs:string" use="required"/>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Biome">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Freshwater"/>
																	<xs:enumeration value="Brackish"/>
																	<xs:enumeration value="Marine"/>
																	<xs:enumeration value="Terrestrial"/>
																	<xs:enumeration value="Unknown"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Action">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Prevention"/>
																	<xs:enumeration value="Eradication"/>
																	<xs:enumeration value="Control"/>
																	<xs:enumeration value="Containment"/>
																	<xs:enumeration value="Mitigation"/>
																	<xs:enumeration value="Interception"/>
																	<xs:enumeration value="Conservation"/>
																	<xs:enumeration value="None"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Outcome">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Successful"/>
																	<xs:enumeration value="Failed"/>
																	<xs:enumeration value="Unconfirmed success"/>
																	<xs:enumeration value="Unconfirmed failure"/>
																	<xs:enumeration value="Ongoing"/>
																	<xs:enumeration value="Unknown"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="ActionStatus">
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Proposed"/>
																	<xs:enumeration value="Executing"/>
																	<xs:enumeration value="Completed"/>
																	<xs:enumeration value="Unknown"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Status">
														<xs:annotation>
															<xs:documentation>Legal status (not fully enumerated)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:restriction base="textType">
																	<xs:enumeration value="Threatened"/>
																	<xs:enumeration value="Prohibited"/>
																</xs:restriction>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Providers">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Provider" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="ref" use="required"/>
																		<xs:attribute name="providersId" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute ref="statusSummary"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="nameRefType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ref" type="xs:string"/>
				<xs:attribute ref="status"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="usageType">
		<xs:sequence>
			<xs:element name="Disclaimer" type="xs:string" minOccurs="0"/>
			<xs:element name="Attribution" type="xs:string" minOccurs="0"/>
			<xs:element name="Licensing" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="providerLinkType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ref" type="xs:string" use="required"/>
				<xs:attribute name="providersId" type="xs:string"/>
				<xs:attribute name="lastUpdated" type="xs:dateTime"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dataConsistencyType">
		<xs:sequence>
			<xs:element name="Field" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="noProviders"/>
					<xs:attribute name="noAgree"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="biomeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Freshwater"/>
			<xs:enumeration value="Brackish"/>
			<xs:enumeration value="Marine"/>
			<xs:enumeration value="Terrestrial"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="textType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="status"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attribute name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="agreement"/>
				<xs:enumeration value="majority"/>
				<xs:enumeration value="disagreement"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="statusSummary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="agreement"/>
				<xs:enumeration value="minor disagreement"/>
				<xs:enumeration value="major disagreement"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>
